Hidden status: {{!person}}

<div class="container" *ngIf="person">
  <form (ngSubmit)="done()" #personForm="ngForm">
    {{diagnostic}}
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName"
             [(ngModel)]="person.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName"
             required
             [(ngModel)]="person.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="birthDate">Birth date</label>
      <input type="text" class="form-control" id="birthDate"
             [(ngModel)]="person.birthDate" name="birthDate">
    </div>

    <div class="form-group">
      <label for="deathDate">Death date</label>
      <input type="text" class="form-control" id="deathDate"
             [(ngModel)]="person.deathDate" name="deathDate">
    </div>

    <button type="submit" class="btn btn-success">Done></button>
  </form>
  </div>
