<div class="container">
  <div class="form-group">
    <div class="image-container col-sm-4">
      <img *ngIf="imageUrl || imageString" class="img-fluid img-thumbnail" id="image" name="image" src="{{imageString || imageUrl}}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Choose an image</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="imageInput" accept="image/*"
               (change)="processImage(imageInput)" name="imageInput" #imageInput>
        <label class="custom-file-label" for="image">{{image ? image.name : 'Choose image'}}</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="firstName">First name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstName"
             [(ngModel)]="person.firstName" name="firstName">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="lastName">Last name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastName"
             required
             [(ngModel)]="person.lastName" name="lastName">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="birthDate">Birth date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="birthDate" name="birthDate"
             [value]="person.birthDate | date:'yyyy-MM-dd'" (input)="person.birthDate=$event.target.value" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="deathDate">Death date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="deathDate" name="deathDate"
             [value]="person.deathDate | date:'yyyy-MM-dd'" (input)="processDate($event)" />
    </div>
  </div>

  <div class="form-group">
    <h2 for="Address">Address</h2>
    <app-address-form [address]="person.address"></app-address-form>
  </div>
  <div class="form-group">
    <h2 for="interests">Interests</h2>
    <app-interests-form [interests]="person.interests"></app-interests-form>
  </div>
</div>
