<div class="container">
  <h1>{{(isNew ? 'New Person' : person.firstName + ' ' + person.lastName)}}</h1>
  <app-person-form [person]="person" [imageUrl]="imageUrl" #personForm></app-person-form>

  <div class="btn-group float-right">
    <button class="btn btn-outline-primary" (click)="save()" [disabled]="isSaving" *ngIf="!isSaving">
      Save
    </button>
    <button class="btn btn-outline-primary" (click)="save()" [disabled]="isSaving" *ngIf="isSaving">
      <i class="fas fa-spinner fa-spin"></i>
    </button>
    <button class="btn btn-outline-secondary" (click)="goBack()">{{(isNew ? 'Cancel' : 'Go Back')}}</button>
  </div>
</div>
