<app-person-search #personSearch (searchBegin)="onSearchBegin()" (searchComplete)="onSearchComplete($event)"></app-person-search>
<div class="form-group row">
  <div class="button-container col-sm-2 d-flex justify-content-end">
    <button class="btn btn-outline-primary " routerLink="/people/new"  title="create person">+</button>
  </div>
  <div id="people" class="col-sm-10">
    <app-person-list #personList [isLoading]="isLoading" [people]="people" (listChanged)="personSearch.search()"></app-person-list>
  </div>
</div>
