<form *ngIf="addressForm" [formGroup]="addressForm" class="container" id="address-form">

  <div class="form-group row">
    <label for="address1" class="col-sm-2 col-form-label">Address 1</label>
    <div class="col-sm-10">
      <input formControlName="address1" id="address1" type="text" class="form-control" required maxlength="100">

      <div *ngIf="address1.invalid"
           class="alert alert-danger">
        <div *ngIf="address1.errors.required" id="address1-error-required">
          Address 1 is required.
        </div>
        <div *ngIf="address1.errors.maxlength" id="address1-error-maxlength">
          Adress 1 must be no more than 100 characters long.
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label for="address2" class="col-sm-2 col-form-label">Address 2</label>
    <div class="col-sm-10">
      <input formControlName="address2" id="address2" type="text" class="form-control" maxlength="100">

      <div *ngIf="address2.invalid"
           class="alert alert-danger">
        <div *ngIf="address2.errors.maxlength" id="address2-error-maxlength">
          Adress 2 must be no more than 100 characters long.
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label for="city" class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-10">
      <input formControlName="city" id="city" type="text" class="form-control" required maxlength="50">

      <div *ngIf="city.invalid"
           class="alert alert-danger">
        <div *ngIf="city.errors.required" id="city-error-required">
          City is required.
        </div>
        <div *ngIf="city.errors.maxlength" id="city-error-maxlength">
          City must be no more than 50 characters long.
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label for="state" class="col-sm-2 col-form-label">State</label>
    <div class="col-sm-10">
      <select formControlName="state" id="state" class="form-control" required>
        <option *ngFor="let state of stateCodeKeys()" [value]="stateCodes[state]">{{state}}</option>
      </select>

      <div *ngIf="state.invalid"
           class="alert alert-danger">
        <div *ngIf="state.errors.required" id="state-error-required">
          State is required.
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label for="zip" class="col-sm-2 col-form-label">Zip</label>
    <div class="col-sm-10">
      <input formControlName="zip" id="zip" type="text" class="form-control" required pattern="\d{5}([\-]\d{4})?">

      <div *ngIf="zip.invalid"
           class="alert alert-danger">
        <div *ngIf="zip.errors.required" id="zip-error-required">
          Zip is required.
        </div>
        <div *ngIf="zip.errors.pattern" id="zip-error-pattern">
          Zip must be in the format (#####) or (#####-####)
        </div>
      </div>

    </div>
  </div>
</form>
